.edit-profile__form {
  label:first-child {
    margin-top: 0px;
  }
  input:last-child {
    margin-top: 20px;
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}