.upload__container {
  width: 100%;
  .upload__video__info__form {
    label:first-child {
      margin-top: 0px;
    }
    input:last-child {
      margin-top: 20px;
    }
  }
  .go__video__recorder {
    width: fit-content;
    margin: 0px auto 20px;
  }
}