extends base.pug

block content
    div.upload__container
        a#actionBtn.social__btn.go__video__recorder(href="/videos/recorder") Go Video Recorder
        form(method="POST", enctype="multipart/form-data").upload__video__info__form
            label(for="video") Video File
            input(type="file", accept="video/*", required, id="video", name="video")
            label(for="thumb") Thumbnail File
            input(type="file", accept="image/*", required, id="thumb", name="thumb")
            label(for="title") Title
            input(placeholder="Title", required, type="text", id="title", name="title", maxlength=80)
            label(for="description") Description
            input(placeholder="Description", required, type="text", id="description", name="description", minlength=2)
            label(for="hashtags") Hashtags
            input(placeholder="Hashtags, separated by comma.", required, type="text", id="hashtags", name="hashtags")
            input(type="submit", value="Upload Video")
